<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/equipos.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../images/Nba-Logo.png" alt="logo">
        </div>

        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./equipos.html">Equipos</a></li>
                <li><a href="./jugadores.html">Jugadores Estrella</a></li>
                <li><a href="./historia.html">Historia</a></li>
                <li><a href="./contactanos.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="card">
            <img src="../images/logos-resized/Boston-Celtics.png" alt="Boston Celtics">
            <div class="content">
                <div class="title">
                    Boston Celtics
                </div>
                <p>
                    Los Boston Celtics son una franquicia de baloncesto profesional con sede en Boston, Massachusetts. Fundados en 1946, los Celtics son uno de los equipos más exitosos de la historia de la NBA, con un total de 17 campeonatos de la NBA.
                </p>
            </div>
        </div>
        <div class="card">
            <img src="../images/logos-resized/Milwaukee.png" alt="">
            <div class="content">
                <div class="title">
                    Milwaukee Bucks
                </div>
                <p>
                    Los Milwaukee Bucks son una franquicia de baloncesto profesional con sede en Milwaukee, Wisconsin. Fundados en 1968, los Bucks han ganado un campeonato de la NBA en 1971 y han sido finalistas en dos ocasiones.
                </p>
            </div>
        </div>
        <div class="card">
            <img src="../images/logos-resized/Golden-State.png" alt="">
            <div class="content">
                <div class="title">
                    Golden State Warriors
                </div>
                <p>
                    Los Golden State Warriors son una franquicia de baloncesto profesional con sede en San Francisco, California. Fundados en 1946, los Warriors han ganado un total de seis campeonatos de la NBA, incluidos tres en los últimos cinco años.
                </p>
            </div>
        </div>
        <div class="card">
            <img src="../images/logos-resized/Lakers.png" alt="">
            <div class="content">
                <div class="title">
                    Los Angeles Lakers
                </div>
                <p>
                    Los Los Angeles Lakers son una franquicia de baloncesto profesional con sede en Los Ángeles, California. Fundados en 1947, los Lakers son uno de los equipos más exitosos de la historia de la NBA, con un total de 17 campeonatos de la NBA.
                </p>
            </div>
        </div>
        <div class="card">
            <img src="../images/logos-resized/Cavaliers.png" alt="">
            <div class="content">
                <div class="title">
                    Cavaliers
                </div>
                <p>
                    Los Cleveland Cavaliers son una franquicia de baloncesto profesional con sede en Cleveland, Ohio. Fundados en 1970, los Cavaliers han ganado un campeonato de la NBA en 2016 y han sido finalistas en cuatro ocasiones.
                </p>
            </div>
        </div>
        <div class="card">
            <img src="../images/logos-resized/Mavericks.png" alt="">
            <div class="content">
                <div class="title">
                    Dallas Mavericks
                </div>
                <p>
                    Los Dallas Mavericks son una franquicia de baloncesto profesional con sede en Dallas, Texas. Fundados en 1980, los Mavericks han ganado un campeonato de la NBA en 2011 y han sido finalistas en dos ocasiones.
                </p>
            </div>
        </div>
        <div class="card">
            <img src="../images/logos-resized/Knicks.png" alt="">
            <div class="content">
                <div class="title">
                    Knicks
                </div>
                <p>
                    Los New York Knicks son una franquicia de baloncesto profesional con sede en Nueva York, Nueva York. Fundados en 1946, los Knicks han ganado dos campeonatos de la NBA y han sido finalistas en ocho ocasiones.
                </p>
            </div>
        </div>
    </main>
</body>
</html>
