<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jugadores Estrella</title>
    <link rel="stylesheet" href="../css/jugadores.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../images/nba-logo.png" alt="logo">
        </div>

        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./equipos.html">Equipos</a></li>
                <li><a href="./jugadores.html">Jugadores Estrella</a></li>
                <li><a href="./historia.html">Historia</a></li>
                <li><a href="./contactanos.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Jugadores Estrella</h1>
        <div class="wrapper">
            <div class="container">
                <div class="card card-1">
                    <div class="card_content">
                        <h2>Damian Lillard</h2>
                        <p>Conocido por su capacidad de anotar en momentos decisivos, Lillard ha sido el alma de los Portland Trail Blazers.</p>
                    </div>
                </div>
                <div class="card card-2">
                    <div class="card_content">
                        <h2>Kobe Bryant</h2>
                        <p>El “Black Mamba” fue un jugador increíblemente competitivo y talentoso, inspirando a generaciones con su mentalidad y su capacidad de anotar.</p>
                    </div>
                </div>
                <div class="card card-3">
                    <div class="card_content">
                        <h2>LeBron James</h2>
                        <p>Una leyenda viva del baloncesto, LeBron ha dominado la NBA por más de 20 años y continúa siendo un referente de excelencia y longevidad en el deporte.</p>
                    </div>
                </div>
                <div class="card card-4">
                    <div class="card_content">
                        <h2>Michael Jordan</h2>
                        <p>Considerado por muchos como el mejor jugador de baloncesto de todos los tiempos. Conocido por su habilidad en la cancha y su dominio en los momentos cruciales.</p>
                    </div>
                </div>
                <div class="card card-5">
                    <div class="card_content">
                        <h2>Stephen Curry</h2>
                        <p>Revolucionó el juego con su tiro de larga distancia y ha liderado a los Golden State Warriors a múltiples campeonatos.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
